<!-- Search -->
<nz-button-group>
    <button 
        nz-button
        [nzType]="(sortBy === 'title') && sortAsc ? 'primary' : 'default'"
        (click)="changeSort('title', true)"
    ><i nz-icon nzType="sort-ascending" nzTheme="outline"></i>
    </button>
    <button 
        nz-button 
        [nzType]="(sortBy === 'title') && !sortAsc ? 'primary' : 'default'"
        (click)="changeSort('title', false)"
    ><i nz-icon nzType="sort-descending" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="default" disabled><i nz-icon nzType="clock-circle" nzTheme="outline"></i></button>
</nz-button-group>

<form>
    <nz-input-group [nzPrefix]="searchPrefix">
        <input type="text" nz-input />
    </nz-input-group>
    <ng-template #searchPrefix><i nz-icon nzType="search"></i></ng-template>
</form>