@font-face {
    font-family: Montserrat;
    src: url("./Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Source Code Pro;
    src: url("./SourceCodePro-Medium.ttf") format("truetype");
}