@font-face {
    font-family: Arimo;
    src: url("./Arimo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Source Code Pro;
    src: url("./SourceCodePro-Medium.ttf") format("truetype");
}

// @font-face {
//     font-family: Alef Bold;
//     src: url("./Alef-Bold.ttf") format("truetype");
// }