@import '../../../../variables.scss';

h2 {
    display:flex;
    justify-content:center;
}
h3 {
    display:flex;
    justify-content:space-between;
    width:100%;
    padding: 0 $microMargin;
    i, div {
        width:5%;
    }
    i {
        font-size:1rem;
        display:flex;
        justify-content:center;
        align-items:center;
        &:hover {
            cursor:pointer;
            color:$bgColorDark;
        }
    }
    span {
        display:flex;
        justify-content:center;
        width:95%;
        margin-left: $microMargin;
    }
}

.list {
    .listing {
        transition:.3s;
        width:100%;
        padding: .4rem $microMargin;
        background-color:white;
        border-top: 1px solid $borderColor;
        &:last-of-type {
            border-bottom: 1px solid $borderColor;
        }
        &:hover {
            cursor:pointer;
            color:$hoverColor;
            border-top: 1px solid $hoverColor;
            &:last-of-type {
                border-bottom: 1px solid $hoverColor;
            }
            & + * {
                border-top: 1px solid $hoverColor;
            }
        }
    }
}