<h2>
    
    <span>Notes</span>
</h2>

<app-sort-search
    [sortBy]="sortBy"
    [sortAsc]="sortAsc"
    [dateDisplay]="dateDisplay"
    (sortChange)="changeSort($event)"
    (dateAction)="toggleDateDisplay()"
    (searchAction)="handleSearch($event)"
></app-sort-search>

<div class="list" *ngIf="!viewNotes">
    <div 
        (click)="changeTopic(topic.title)"
        class="listing"
        *ngFor="let topic of topics"
    >
        <span>{{ topic.title }}</span>
        <span></span>
        <span
            class="topic-results"
            *ngIf="topic.results"
        >
            {{ topic.results + ((topic.results === '1') ? ' result' : ' results')}}
        </span>
    </div>
</div>

<div class="list" *ngIf="viewNotes && !dateDisplay">
    <h3>
        <div class="back-button" (click)="return()">
            <i
                nz-icon
                nzType="arrow-left"
                nzTheme="outline"
            ></i>
        </div>
        <span>{{ activeTopic }}</span>
        <div></div>
    </h3>
    <ng-container *ngFor="let note of notes">
        <ng-container *ngIf="!searchValue || compare(note.title, searchValue)">
            <app-note-listing
                [title]="note.title"
                [id]="note.id"
                [routerLink]="['/notes/id', note.id]"
                *ngIf="viewAll || note.topic === activeTopic"
            ></app-note-listing>
        </ng-container>
    </ng-container>
</div>

<ng-container *ngIf="viewNotes && dateDisplay">
    <h3 class="date">
        <div class="back-button" (click)="return()">
            <i
                nz-icon
                nzType="arrow-left"
                nzTheme="outline"
            ></i>
        </div>
        <span>{{ activeTopic }}</span>
        <div></div>
    </h3>
    <div class="list" *ngFor="let date of dates">
        <h4>
            <div></div>
            <span>{{ date.formatted }}</span>
            <div></div>
        </h4>
        <ng-container *ngFor="let note of datesMap.get(date.iso)">
            <app-note-listing
                [title]="note.title"
                [id]="note.id"
                [routerLink]="['/notes/id', note.id]"
                *ngIf="!searchValue || compare(note.title, searchValue)"
            ></app-note-listing>
        </ng-container>
    </div>
</ng-container>