<h2>
    
    <span>Notes</span>
</h2>

<app-sort-search
    [sortBy]="sortBy"
    [sortAsc]="sortAsc"
    [dateDisplay]="dateDisplay"
    (sortChange)="changeSort($event)"
    (dateAction)="toggleDateDisplay()"
></app-sort-search>

<div class="list" *ngIf="!viewNotes">
    <div 
        (click)="changeTopic(topic.title)"
        class="listing"
        *ngFor="let topic of topics">
        {{ topic.title }}
    </div>
</div>

<div class="list" *ngIf="viewNotes && !dateDisplay">
    <h3>
        <div class="back-button" (click)="return()">
            <i
                nz-icon
                nzType="arrow-left"
                nzTheme="outline"
            ></i>
        </div>
        <span>{{ activeTopic }}</span>
        <div></div>
    </h3>
    <ng-container *ngFor="let note of notes">
        <div 
            class="listing"
            *ngIf="viewAll || note.topic === activeTopic"
            [routerLink]="['/notes/id', note.id]"
        >
            {{ note.title }}
        </div>
    </ng-container>
</div>

<ng-container *ngIf="viewNotes && dateDisplay">
    <h3 class="date">
        <div class="back-button" (click)="return()">
            <i
                nz-icon
                nzType="arrow-left"
                nzTheme="outline"
            ></i>
        </div>
        <span>{{ activeTopic }}</span>
        <div></div>
    </h3>
    <div class="list" *ngFor="let date of dates">
        <h4>
            <div></div>
            <span>{{ date.formatted }}</span>
            <div></div>
        </h4>
        <div 
            class="listing"
            *ngFor="let note of datesMap.get(date.iso)"
            [routerLink]="['/notes/id', note.id]"
        >
            {{ note.title }}
        </div>
    </div>
</ng-container>