@import '../../../../variables.scss';

h2 {
    display:flex;
    justify-content:center;
}
h3, h4 {
    display:flex;
    justify-content:space-between;
    width:100%;
    padding: 0 $microMargin;
    div {
        width:1.8rem;
    }
    .back-button {
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:50rem;
        height:1.8rem;
        transition: $transition;
        i {
            font-size:1rem;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        &:hover {
            cursor:pointer;
            background-color:#d8dfe5;
        }
    }
    span {
        display:flex;
        justify-content:center;
        width:80%;
    }
}

h3.date {
    border-bottom:1px solid $borderColor;
}

h4 {
    font-size:1rem;
    margin: .5rem 0 .2rem 0;
}

.list {
    .listing {
        width:100%;
        padding: .4rem $microMargin;
        background-color:white;
        border-top: 1px solid $borderColor;
        outline:none;
        &:last-of-type {
            border-bottom: 1px solid $borderColor;
        }
        &:hover {
            cursor:pointer;
            color:$hoverColor;
            border-top: 1px solid $hoverColor;
            &:last-of-type {
                border-bottom: 1px solid $hoverColor;
            }
            & + * {
                border-top: 1px solid $hoverColor;
            }
        }
    }
}