@import '../../../../variables.scss';

:host {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding: .4rem $microMargin;
    background-color:white;
    border-top: 1px solid $borderColor;
    outline:none;
    i {
        // opacity:0;
        &.selected-icon {
            opacity:1;
        }
    }
    &:last-of-type {
        border-bottom: 1px solid $borderColor;
    }
    &:hover {
        cursor:pointer;
        color:$hoverColor;
        border-top: 1px solid $hoverColor;
        &:last-of-type {
            border-bottom: 1px solid $hoverColor;
        }
        & + * {
            border-top: 1px solid $hoverColor;
        }
    }
}