<app-toolbar
    [modes]="modes"
    [saved]="saved"
    [displayRaw]="displayRaw"
    [editId]="editId"
    (displayChange)="this.displayRaw = $event"
    (modeChange)="changeMode($event)"
    (saveAction)="save()"
    (undoAction)="undo()"
    (redoAction)="redo()"
    (deleteAction)="changeDeleteStatus($event)"
    (insertAction)="insert($event)"
></app-toolbar>

<form 
    *ngIf="!confirmDelete"
    [ngClass]="displayRaw ? 'raw' : ''"
    [formGroup]="noteForm">
    <!-- <button nz-button (click)="whatIsModes()">Modes</button> -->
    <h3>Topic</h3>
    <div class="topic-input-group">
        <div class="button-container"></div>
        <input
            class="topic-input"
            type="text"
            nz-input
            id="topic"
            formControlName="topic"
            text="title"
            placeholder="Topic"
        >
        <div class="button-container">
            <button
                nz-button
                nz-dropdown
                [nzDropdownMenu]="options"
                nzTrigger="click"
            ><i nz-icon nzType="down"></i></button>
        </div>
    </div>
    <nz-dropdown-menu #options="nzDropdownMenu">
        <ul nz-menu>
            <ng-container *ngFor="let topic of topics">
                <li
                (click)="changeTopic(topic.title)"
                nz-menu-item
                *ngIf="topic.title !== 'All Notes'"
            >
                {{ topic.title }}
            </li>
            </ng-container>
        </ul>
    </nz-dropdown-menu>
    <h3>Title</h3>
    <input
        (keyup)="handleChanges(event)"
        id="title"
        formControlName="title"
        type="text"
        [ngClass]="getTitleLength() > 29 ? 'smaller' : ''"
    >
    <textarea
        (keyup)="handleChanges()"
        [rows]="textRows"
        id="body"
        formControlName="body"
    ></textarea>
</form>
<app-confirm-delete
    class="note-display"
    (statusAction)="changeDeleteStatus($event)"
    (deleteAction)="delete()"
    [note]="note"
    *ngIf="confirmDelete"
></app-confirm-delete>