<ng-container *ngIf="note">
    <div class="view-toolbar">
        <div></div>
        <h2>{{ note.title }}</h2>
        <div>
            <nz-button-group>
                <button nz-button [routerLink]="'/notes/id/' + note.id + '/edit'">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
                <button nz-button (click)="download()">
                    <i nz-icon nzType="download" nzTheme="outline"></i>
                </button>
                <button nz-button (click)="changeDeleteStatus(true)">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
            </nz-button-group>
        </div>
    </div>
    <div class="note-display" *ngIf="!confirmDelete">
        <ng-container *ngFor="let line of textLines">
            <div [ngClass]="line.className" *ngIf="!line.inline && !line.image && !line.link">
                <div class="bullet" *ngIf="line.bullet"></div>
                {{ line.text }}
            </div>
            <a [href]="line.className" *ngIf="line.link">
                {{ line.text }}
            </a>
            <span [ngClass]="line.className" *ngIf="line.inline && !line.image && !line.link">
                {{ line.text }}
            </span>
            <img [ngClass]="line.inline" [src]="line.className" [alt]="line.text" *ngIf="!line.inline && line.image && !line.link">
        </ng-container>
    </div>
    <app-confirm-delete
        class="note-display"
        (statusAction)="changeDeleteStatus($event)"
        [note]="note"
        *ngIf="confirmDelete"
    ></app-confirm-delete>
</ng-container>