<ng-container *ngIf="note">
    <div class="view-toolbar">
        <div></div>
        <h2>{{ note.title }}</h2>
        <div>
            <nz-button-group>
                <button nz-button [routerLink]="'/notes/id/' + note.id + '/edit'">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
                <button nz-button>
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
            </nz-button-group>
        </div>
    </div>
    <div class="note-display">
        <ng-container *ngFor="let line of textLines">
            <div [ngClass]="line.className" *ngIf="!line.inline && !line.image">
                <div class="bullet" *ngIf="line.bullet"></div>
                {{ line.text }}
            </div>
            <span [ngClass]="line.className" *ngIf="line.inline && !line.image">
                {{ line.text }}
            </span>
            <img [ngClass]="line.inline" [src]="line.className" [alt]="line.text" *ngIf="!line.inline && line.image">
        </ng-container>
    </div>
</ng-container>