@import '../../../../variables.scss';

:host {
    display:flex;
    flex-direction:column;
    align-items:center;
}

li.headingOne {
    font-weight:bolder!important;
}

.view-toolbar {
    display:flex;
    justify-content:space-between;
    padding: $microMargin 5.5rem;
    width:100%;
    background-color:$bgColorLight;
    border-bottom:1px solid $borderColor;
    div {
        display:flex;
        justify-content:center;
        align-items:center;
        width:20%;
        nz-button-group {
            display:flex;
            align-items:center;
        }
    }
    h2 {
        display:flex;
        justify-content:center;
        height:auto;
        font-size:1.3rem;
        color: $textColor;
        background-color:white;
        padding:$microMargin 1.5rem;
        width:50%;
        border:1px solid $borderColor;
        border-radius:.25rem;
    }
}

.note-display {
    div, span, a {
        font-size:1.1rem;
    }
    div {
        display:flex;
        align-items:center;
        width:100%;
        .bullet {
            display:flex;
            align-items:center;
            height:.25rem;
            width:.25rem;
            background-color:$textColor;
            border-radius:50rem;
            margin-right:$microMargin;
        }
    }
    img {
        border:1px solid $borderColor;
        display:flex;
        margin: 1rem, 0!important;
        &.inline {
            display:inline;
        }
    }
    .checkbox {
        .checkbox {
            display:flex;
            align-items:center;
            justify-content:center;
            margin-right:$microMargin;
            width:1.2rem;
            height:1.2rem;
            background-color:$bgColorLight;
            border-radius:.2rem;
            border:1px solid $borderColor;
            &:hover {
                cursor:pointer;
                border:1px solid $hoverColor;
            }
            i {
                color:$bgColorDark;
                font-size:.9rem;
            }
        }
    }
    .headingOne, .headingTwo, .headingThree {
        display:flex;
        align-items:flex-start;
        font-weight:bold;
        border-bottom:1px solid lightgray;
        margin:$microMargin 0;
        letter-spacing: .12rem;
    }
    .headingOne {
        height:auto;
        font-size:3rem;
    }
    .headingTwo {
        font-size:2.3rem;
    }
    .headingThree {
        font-size:1.5rem;
    }
    .codeBlock {
        margin:1rem 0;
        background-color:$bgColorLight;
        border-radius:.25rem;
        font-family: $rawFont;
        padding:$microMargin;
        overflow-x:auto;
        border:1px solid $borderColor;
        font-size:1rem;
    }
    .rightAlign {
        justify-content:flex-end;
        text-align:right;
    }
    .centerAlign {
        justify-content:center;
        text-align:center;
    }
    .divider {
        height:1rem;
        border-bottom:1px solid lightgray;
        margin-bottom:1rem;
    }
}