<ng-container *ngIf="note">
    <div class="view-toolbar">
        <div>
            <button nz-button nz-dropdown [nzDropdownMenu]="noteHeadings" nzTrigger="click">
                Jump To...
                <i nz-icon nzType="down"></i>
            </button>
            <nz-dropdown-menu #noteHeadings="nzDropdownMenu">
                <ul nz-menu>
                    <ng-container *ngFor="let heading of headings">
                        <li nz-menu-item [ngClass]="heading.className">
                            <a [routerLink]="'/notes/id/' + note.id" [fragment]="heading.name">
                                <span *ngIf="heading.className === 'headingOne'">{{ heading.name }}</span>
                                <span *ngIf="heading.className !== 'headingOne'">{{ heading.num + '. ' + heading.name }}</span>
                            </a>
                        </li>
                    </ng-container>
                </ul>
              </nz-dropdown-menu>
        </div>
        <h2>{{ note.title }}</h2>
        <div>
            <nz-button-group>
                <button nz-button [routerLink]="'/notes/id/' + note.id + '/edit'">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
                <button nz-button (click)="download()">
                    <i nz-icon nzType="download" nzTheme="outline"></i>
                </button>
                <button nz-button (click)="changeDeleteStatus(true)">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
            </nz-button-group>
        </div>
    </div>
    <div class="note-display" *ngIf="!confirmDelete">
        <ng-container *ngFor="let line of textLines">
            <div 
                [ngClass]="line.className"
                *ngIf="!line.inline && !line.image && !line.link"
                [id]="line.text"
            >
                <div class="bullet" *ngIf="line.bullet && !line.className.includes('checkbox')"></div>
                <div
                    *ngIf="line.bullet && line.className.includes('checkbox')"
                    class="checkbox"
                    (click)="handleBoxTick(line.text, line.className.includes('checked'))"
                >
                    <i *ngIf="line.className.includes('checked')" nz-icon nzType="check" nzTheme="outline"></i>
                </div>
                {{ line.text }}
            </div>
            <a [href]="line.className" *ngIf="line.link">
                {{ line.text }}
            </a>
            <span [ngClass]="line.className" *ngIf="line.inline && !line.image && !line.link">
                {{ line.text }}
            </span>
            <img [ngClass]="line.inline" [src]="line.className" [alt]="line.text" *ngIf="!line.inline && line.image && !line.link">
        </ng-container>
    </div>
    <app-confirm-delete
        class="note-display"
        (statusAction)="changeDeleteStatus($event)"
        (deleteAction)="delete()"
        [note]="note"
        *ngIf="confirmDelete"
    ></app-confirm-delete>
</ng-container>