<div class="app-header-menu">
    <div class="header-logo">
        <!-- <a routerLink="/">Logo</a> -->
    </div>
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item routerLink="/">
            <i nz-icon nzType="home" nzTheme="fill"></i>
            Home
        </li>
        <li nz-menu-item routerLink="/notes/new">
            <i nz-icon nzType="plus"></i>
            New Note
        </li>
        <li nz-menu-item routerLink="/settings">
            <i nz-icon nzType="setting" nzTheme="fill"></i>
            Settings
        </li>
        <li nz-menu-item routerLink="/about">
            <i nz-icon nzType="question-circle" nzTheme="fill"></i>
            About
        </li>
    </ul>
    <nz-button-group>
        <button nz-button>Sign In</button>
        <button nz-button nzType="primary">Sign Up</button>
        <button nz-button (click)="toggleDarkMode()">
            <i class="fas fa-moon" *ngIf="!dark"></i>
            <i class="fas fa-sun" *ngIf="dark"></i>
        </button>
    </nz-button-group>
</div>
