<nz-layout [ngClass]="dark ? 'app-layout dark-mode' : 'app-layout'">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzCollapsedWidth="0"
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <app-sidebar-menu *ngIf="!isCollapsed"></app-sidebar-menu>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <app-header-menu 
          style="width:100%;"
          [dark]="dark"
          (themeChange)="toggleDarkMode()"
        ></app-header-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>