// Global Colors
$darkBgColorDarker: #0e1717;
$darkBgColorDark: #1c2f2f;
$darkBgColorLight: #121f1f;

$darkBorderColor: #d3d3d3;
$darkHoverColor: #00FF7F;
$darkerHoverColor: #00cc65;
$darkDangerColor: #ff4d4f;
$darkDangerColorDark:#b23537;
$darkDangerHover: #ffeded;

$darkTextColor: rgba(0,0,0,.65);

@mixin dark {
    h1, h2, h3, h4, h5, h6 {
        color:white;
    }
    > nz-layout {
        nz-header {
            span i {
                color:white;
            }
            .app-header {
                background-color:$darkBgColorLight!important;
                border-bottom:1px solid $darkBorderColor;
                [nz-menu] li {
                    color:white!important;
                    background-color:$darkBgColorLight!important;
                    border-bottom:1px solid $darkBorderColor!important;
                    &:hover {
                        border-bottom:1px solid $darkHoverColor!important;
                        color:$darkHoverColor!important;
                    }
                }
                .app-header-menu {
                    .ant-btn {
                        border:1px solid $darkBorderColor;
                        &.ant-btn-primary {
                            background-color:$darkHoverColor!important;
                            &:hover, &:focus {
                                color:black;
                                background-color:$darkerHoverColor!important;
                                border:1px solid $darkerHoverColor;
                            }
                        }
                        &:hover, &:focus {
                            color:$darkHoverColor;
                            border:1px solid $darkHoverColor;
                        }
                    }
                }
            }
        }
        nz-content {
            .inner-content {
                background: $darkBgColorDark!important;
            }
            app-toolbar {
                background-color: $darkBgColorLight;
            }
        }
    }
    nz-sider {
        border-right:1px solid $darkBorderColor!important;
    }
    .menu-sidebar {
        background-color:$darkBgColorLight!important;
        // sidebar component
        > div {
            color:white;
            nz-input-group, input {
                background-color:$darkBgColorDark;
                color:white;
                i {
                    color:white;
                }
            }
            nz-input-group:hover {
                border:1px solid $darkHoverColor;
            }
            .list {
                .listing {
                    background:$darkBgColorDark;
                    border-top: 1px solid $darkBorderColor;
                    &:last-of-type {
                        border-bottom: 1px solid $darkBorderColor;
                    }
                    &:hover {
                        cursor:pointer;
                        color:$darkHoverColor;
                        border-top: 1px solid $darkHoverColor;
                        &:last-of-type {
                            border-bottom: 1px solid $darkHoverColor;
                        }
                        & + * {
                            border-top: 1px solid $darkHoverColor!important;
                        }
                    }
                }
            }
        }
    }

    .ant-btn {
        color:white;
        border:1px solid $darkBorderColor;
        background-color:$darkBgColorDark;
        &.ant-btn-primary {
            background-color:$darkHoverColor;
            color:black;
            border:1px solid black;
            &:hover {
                border:1px solid $darkerHoverColor;
                background-color:$darkerHoverColor;
                color:black;
            }
            &.ant-btn-dangerous {
                color:white;
                background-color:$dangerColor;
                &:hover {
                    background-color:$dangerColorDark;
                    color:white;
                }
            }
        }
        &:hover {
            border: 1px solid $darkHoverColor;
            color: $darkHoverColor;
        }
    }

    app-note {
        .view-toolbar {
            background-color:$darkBgColorLight!important;
            border-bottom:1px solid $darkBorderColor;
            h2 {
                background-color:black!important;
                border:1px solid $darkBorderColor;
                color:white!important;
                border:1px solid $darkBorderColor!important;
            }
        }
        .note-display {
            background-color:black!important;
            color:white!important;
            border:1px solid $darkBorderColor;
            a {
                color:$darkHoverColor;
                &:hover {
                    color:$darkerHoverColor;
                }
            }
            div {
                .bullet {
                    background-color:white!important;
                }
            }
            .codeBlock {
                background-color:$darkBgColorDark!important;
                color:white!important;
                border:1px solid $darkBorderColor!important;
            }
            .checkbox {
                .checkbox {
                    background-color:$darkBgColorDark!important;
                    border:1px solid $darkBorderColor!important;
                    &:hover {
                        cursor:pointer;
                        border:1px solid $hoverColor;
                    }
                    i {
                        color:$darkBorderColor!important;
                        font-size:.9rem;
                    }
                }
            }
        }
    }
    app-new-note {
        form {
            input:hover, input:focus {
                background-color:$darkBgColorLight!important;
            }
            textarea {
                border:1px solid $darkBorderColor;
                background-color:black;
                color:white;
            }
            h3 {
                color:$darkBorderColor!important;
            }
        }
    }
    app-toolbar {
        border-bottom: 1px solid $darkBorderColor;
    }
}