@import '../../../../variables.scss';

:host {
    display:flex;
    justify-content:center;
    border-bottom:1px solid $borderColor;
    width:100%;
    padding:.2rem;
}

.toolbar-buttons {
    display:flex;
    justify-content:space-between;
    width:36rem;
    .divider {
        width:.01rem;
        height:auto;
        background-color:$borderColor;
    }
    &.wide {
        width:52rem;
    }
}